{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
  <div class="container mx-auto p-4 pt-6 md:p-6 lg:p-12">
    <div class="flex flex-wrap -mx-4">
      <div class="w-full md:w-1/2 xl:w-1/3 p-4">
        <div class="bg-white rounded shadow-md p-4">
          <h2 class="text-lg font-bold mb-2">What's new?</h2>
          <ul class="list-none mb-4">
            {% for post in posts %}
              <li class="py-2 border-b border-gray-200">
                <a href="{% url 'post_detail' post.id %}" class="text-gray-600 hover:text-gray-900">
                  {{ post.content }}
                </a>
              </li>
            {% empty %}
              <li class="py-2">No posts yet!</li>
            {% endfor %}
          </ul>
          <a href="{% url 'create_post' %}" class="btn btn-primary">Create a post</a>
        </div>
      </div>
      <div class="w-full md:w-1/2 xl:w-1/3 p-4">
        <div class="bg-white rounded shadow-md p-4">
          <h2 class="text-lg font-bold mb-2">Trending topics</h2>
          <ul class="list-none mb-4">
            {% for topic in trending_topics %}
              <li class="py-2 border-b border-gray-200">
                <a href="{% url 'topic_detail' topic.id %}" class="text-gray-600 hover:text-gray-900">
                  {{ topic.name }}
                </a>
              </li>
            {% empty %}
              <li class="py-2">No trending topics yet!</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="w-full md:w-1/2 xl:w-1/3 p-4">
        <div class="bg-white rounded shadow-md p-4">
          <h2 class="text-lg font-bold mb-2">Recommended users</h2>
          <ul class="list-none mb-4">
            {% for user in recommended_users %}
              <li class="py-2 border-b border-gray-200">
                <a href="{% url 'user_profile' user.id %}" class="text-gray-600 hover:text-gray-900">
                  {{ user.username }}
                </a>
              </li>
            {% empty %}
              <li class="py-2">No recommended users yet!</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}